.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__navigation {
  display: flex;
}

.header-list {
  display: flex;
}

.header__connect {
  display: flex;
  margin-left: auto;
  align-items: center;
  justify-content: center;
}

.header__contacts:nth-of-type(1) {
  margin-right: 50px;
}

.header__logo {
  margin-right: 93px;
}

.header-list__item {
  margin-right: 50px;
}

.header-list__item:last-child {
  margin-right: 0;
  transition: color 200ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header__logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.header-list__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--first-text-color);
  transition: color 200ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

.header-list__link.current::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: -32px;
}

.header-list__link:hover, .header-list__link:focus {
  color: var(--accent-color);
}

.header__contacts {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
  align-items: center;
  margin-right: 30px;
  transition: color 200ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header__contacts:hover, .header__contacts:focus {
  color: var(--accent-color);
}

.header__contacts:hover .header__social-icon,
.header__contacts:focus .header__social-icon {
  fill: var(--accent-color);
}

.header__contacts:last-child {
  margin-right: 0;
}

.logo-span--color-dark {
  color: var(--first-text-color);
}

.web {
  color: var(--accent-color);
}

.header__social-icon {
  fill: var(--second-text-color);
  margin-right: 10px;
  align-self: center;
  transition: color 200ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

:root {
  --first-text-color: #212121;
  --second-text-color: #757575;
  --third-text-color: #ffffff;
  --mail-text-color: rgba(255, 255, 255, 0.6);
  --social-icon-color: rgba(255, 255, 255, 0.1);
  --first-button-color: #f5f4fa;
  --second-button-color: #2196f3;
  --accent-color: #2196f3;
  --bg-color: #2f303a;
  --bg-color-2: #f5f4fa;
  --social-icon-color: rgba(255, 255, 255, 0.1);
  --icon-first-color: #afb1b8;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

address {
  font-style: normal;
}

body {
  font-family: Roboto;
  font-style: normal;
}

.list {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

.points {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .points {
    padding-top: 94px;
    padding-bottom: 94px;
    margin-bottom: 94px;
  }
}

@media screen and (min-width: 1200px) {
  .points__section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }
}

.points-list__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--first-text-color);
  margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
  .points-list__title {
    text-align: center;
  }
}

.points-list__pre-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.symbols__under {
  padding: 30px 0 30px 0;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .symbols__under {
    width: calc(100% / 2 - 30px 0);
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .symbols__under {
    width: 270px;
  }
}

.symbols-list {
  margin-right: 0;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .symbols-list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .symbols-list {
    display: flex;
    flex-wrap: nowrap;
  }
}

.symbols-list__item {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .symbols-list__item {
    width: calc(100% / 2 - 30px 0);
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .symbols-list__item:nth-of-type(2n) {
    margin-right: 0;
  }
  .symbols-list__item:nth-of-type(3) {
    margin-bottom: 0;
  }
  .symbols-list__item:nth-of-type(4) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .symbols-list__item {
    width: 270px;
    height: 120px;
    margin-right: 30px;
  }
  .symbols-list__item:nth-of-type(2) {
    margin-right: 30px;
  }
  .symbols-list__item:last-child {
    margin-right: 0;
  }
}

.symbols-list__item:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 1200px) {
  .symbols-list__link {
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color-2);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .symbols-list__link {
    width: 354px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color-2);
  }
}

@media screen and (min-width: 1px) and (max-width: 767px) {
  .symbols-list__link {
    padding-top: 25px;
    padding-bottom: 25px;
    width: 100%;
    height: 100%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color-2);
  }
}

.symbols-list__icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 26px;
  font-weight: 900;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: var(--third-text-color);
  width: 360px;
}

@media screen and (min-width: 1200px) {
  h1 {
    font-size: 44px;
    line-height: 1.36;
    width: 696px;
    height: 120px;
    left: 452px;
  }
}

.main-title__section {
  padding: 118px 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .main-title__section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }
}

.main-title {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-width: 1px) and (max-width: 767px) {
  .main-title {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-img-mobile-1x.jpg);
  }
}

@media screen and (min-width: 1px) and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (min-width: 1px) and (max-width: 767px) and (min-resolution: 192dpi), screen and (min-width: 1px) and (max-width: 767px) and (min-resolution: 2dppx) {
  .main-title {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-img-mobile-2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .main-title {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-img-tablet-1x.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .main-title {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-img-tablet-2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .main-title {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-img.jpg);
    padding-top: 200px;
    padding-bottom: 280px;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .main-title {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-img-2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .products__img {
    width: 370px;
    height: 294px;
  }
}

.products {
  padding-bottom: 94px;
}

@media screen and (min-width: 0px) and (max-width: 1199px) {
  .products {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .products {
    display: flex;
  }
}

@media screen and (min-width: 320px) and (max-width: 1199px) {
  .products-list {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .products-list {
    display: flex;
  }
}

.products-list__item {
  margin-right: 30px;
  position: relative;
}

.products-list__item:last-child {
  margin-right: 0;
}

.products__section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.products-list__bottom {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  padding: 27px 82px;
  background-color: rgba(47, 48, 58, 0.8);
  width: 370px;
  position: absolute;
  top: 224px;
  left: 0;
}

.team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--bg-color-2);
}

@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .team-list {
    display: flex;
    margin-left: 0;
  }
}

.team-list__item {
  margin-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #fff;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .team-list__item {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
  }
  .team-list__item:nth-of-type(1) {
    margin-left: 0;
  }
  .team-list__item:nth-of-type(3) {
    margin-bottom: 0;
    margin-left: 0;
  }
  .team-list__item:nth-of-type(4) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .team-list__item {
    margin-right: 30px;
    margin-bottom: 0;
    margin-left: 0;
    flex-basis: calc(100% / 4 - 30px);
  }
  .team-list__item:last-child {
    margin-right: 0;
  }
}

.team-list__item:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 1200px) {
  .team-list__item:last-child {
    margin-right: 0;
  }
}

.team-item__under {
  padding: 30px 0 30px 0;
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .team-item__under {
    margin-bottom: 0;
    margin-top: 0;
  }
}

.team-list__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
  text-align: center;
}

.team-list__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  margin-top: 10px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .team__section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }
}

.team__img {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .team__img {
    width: 354px;
    height: 374px;
  }
}

@media screen and (min-width: 1200px) {
  .team__img {
    width: 270px;
    height: 260px;
  }
}

.h2 {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .h2 {
    margin-bottom: 50px;
  }
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-list__item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
  margin-top: 16px;
  transition: color 200ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__item:last-child {
  margin-right: 0;
  transition: color 200ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--third-text-color);
  transition: color 200ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover,
.social-list__link:focus {
  background-color: var(--accent-color);
}

.social-list__link:hover .social-list__icon,
.social-list__link:focus .social-list__icon {
  fill: var(--third-text-color);
}

.social-list__icon {
  fill: var(--icon-first-color);
  transition: color 200ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: 0;
}

@media screen and (min-width: 768px) {
  .clients-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .clients-list {
    display: flex;
    flex-wrap: nowrap;
    margin-right: 0;
  }
}

@media screen and (max-width: 767px) {
  .clients-list__item {
    width: 210px;
    height: 92px;
    width: calc(100% / 2 - 30px 0);
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .clients-list__item:nth-of-type(2n) {
    margin-right: 0;
  }
  .clients-list__item:nth-of-type(5) {
    margin-bottom: 0;
  }
  .clients-list__item:nth-of-type(6) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .clients-list__item {
    width: 226px;
    height: 92px;
    width: calc(100% / 3 - 30px 0);
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .clients-list__item:nth-of-type(3n) {
    margin-right: 0;
  }
  .clients-list__item:nth-of-type(4) {
    margin-bottom: 0;
  }
  .clients-list__item:nth-of-type(5) {
    margin-bottom: 0;
  }
  .clients-list__item:nth-of-type(6) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .clients-list__item {
    width: 170px;
    height: 92px;
    margin-right: 30px;
    margin-bottom: 30px;
    margin-left: 0;
    flex-basis: calc(100% / 4 - 30px 0);
  }
  .clients-list__item:last-child {
    margin-right: 0;
  }
  .clients-list__item:nth-of-type(3) {
    margin-right: 30px;
  }
}

.clients-list__link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--third-text-color);
  border: 1px solid var(--icon-first-color);
  box-sizing: border-box;
  border-radius: 4px;
  transition: color 200ms linear, border 200ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list__link:hover, .clients-list__link:focus {
  border: 1px solid var(--accent-color);
}

.clients-list__link:hover .clients-list__icon,
.clients-list__link:focus .clients-list__icon {
  fill: var(--accent-color);
}

.clients-list__icon {
  fill: var(--icon-first-color);
  transition: color 200ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  background-color: var(--bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__full {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: baseline;
}

.footer__adress {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}

.footer__logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}

.footer-social {
  display: flex;
}

.footer-social__item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.footer-social__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--social-icon-color);
  transition: background-color 200ms linear, color 200ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social__link:hover, .footer-social__link:focus {
  background-color: var(--accent-color);
  color: var(--third-text-color);
}

.footer-social__link:hover .footer-social__icon,
.footer-social__link:focus .footer-social__icon {
  fill: var(--third-text-color);
}

.footer-social__icon {
  fill: var(--third-text-color);
}

.footer-social__item:last-child {
  margin-right: 0;
}

.logo-span--color-light {
  color: var(--third-text-color);
}

.footer-contact-list {
  display: flex;
  flex-direction: column;
}

.item {
  margin-top: 9px;
}

.item-1 {
  margin-top: 9px;
}

.footer-contact-list__link {
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--third-text-color);
  margin-top: 20px;
}

.footer-contact-list__tel {
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--mail-text-color);
}

.h4 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--third-text-color);
  margin-bottom: 20px;
}

.footer__social {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}

.footer__subscribe {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}

.subscribe-form {
  display: flex;
}

.subscribe-form__input {
  display: flex;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 16px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--bg-color);
}

.subscribe-form__input::placeholder {
  position: absolute;
  top: 15px;
  left: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.01em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-form__input:not(:placeholder-shown) {
  border: 1px solid var(--accent-color);
}

.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  transition: opacity 200ms, visibility 200ms;
}

.backdrop.is-hidden .modal {
  transform: scale(1.5);
}

.modal {
  width: 528px;
  height: 581px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(1) translate(-50%, -50%);
  transition: transform 200ms;
  padding: 40px;
}

.modal__close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__close-btn:hover, .modal__close-btn:focus {
  background-color: #fff;
}

.modal__close-btn:hover .modal__close-btn__icon,
.modal__close-btn:focus .modal__close-btn__icon {
  fill: var(--accent-color);
}

.modal-form__field__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  fill: #212121;
}

.modal-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.modal-form__field__input {
  width: 100%;
  height: 40px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
}

.modal-form__field__input:hover, .modal-form__field__input:focus {
  border: 1px solid var(--accent-color);
}

.modal-form__field__input:hover + .modal-form__field__icon,
.modal-form__field__input:focus + .modal-form__field__icon {
  fill: var(--accent-color);
}

.modal-form__field__text {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 16px;
}

.modal-form__field__text::placeholder {
  position: absolute;
  top: 15px;
  left: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__field__text:hover, .modal-form__field__text:focus {
  border: 1px solid var(--accent-color);
}

.modal-form__field__check {
  position: absolute;
  top: 437px;
  left: 76.38px;
  margin-bottom: 30px;
  margin-top: 10px;
}

.modal-form__field__check:checked + .modal-form__field__check-text::before {
  background-image: url(../images/check.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
}

.modal-form__field__check-text {
  font-size: 14px;
  color: #757575;
  display: flex;
}

.modal-form__field__check-text::before {
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  margin-right: 8.38px;
  display: block;
  border-radius: 2px;
}

.modal-form__field {
  margin-bottom: 10px;
  position: relative;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-form__field__top {
  font-family: Roboto;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
  display: block;
  margin-bottom: 4px;
}

.modal-form__field__link {
  color: #2196f3;
}

textarea {
  resize: none;
  padding: 12px 16px;
}

.main {
  padding-top: 94px;
  padding-bottom: 94px;
}

.kinds__photo {
  display: flex;
  justify-content: space-between;
}

.kinds__section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 50px;
}

.kinds-list {
  display: flex;
}

.photo-list {
  display: flex;
  flex-wrap: wrap;
}

.photo-list__item {
  margin: 0 13px 28px 13px;
  flex-basis: calc(100% / 3 - 30px);
  border: 1px solid #ececec;
  transition: background-color 200ms linear, box-shadow 200ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.photo-list__item:hover, .photo-list__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.photo-list__item:hover .photo-list__item__top {
  transform: translateY(0);
}

.photo-list__item:nth-of-type(3n) {
  margin-right: 0;
}

.photo-list__item:nth-of-type(3n + 1) {
  margin-left: 0;
}

.photo-list__item:nth-last-of-type(-n + 3) {
  margin-bottom: 0;
}

button:active,
button:hover,
button:focus {
  cursor: pointer;
  background: var(--second-button-color);
}

.photo-list__item__wrap {
  position: relative;
  overflow: hidden;
}

.photo-list__item__top {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  font-size: 18px;
  color: #ffffff;
  line-height: 1.56;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 200ms;
}

.photo-list__text {
  padding: 20px 24px 20px 24px;
  width: 370px;
}

.photo-list__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--first-text-color);
}

.photo-list__pre-title {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  margin-top: 4px;
}

.main-title__btn {
  background-color: var(--accent-color);
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--third-text-color);
  margin-top: 40px;
  width: 200px;
  height: 50px;
  left: 140px;
  top: 292px;
  align-self: center;
  border-radius: 4px;
  text-align: center;
  letter-spacing: 0.03em;
  border: none;
}

@media screen and (min-width: 1200px) {
  .main-title__btn {
    left: 700px;
    top: 430px;
    margin-top: 30px;
  }
}

button:active, button:hover {
  cursor: pointer;
}

.modal-form__field__submit-btn {
  position: absolute;
  top: 491px;
  left: 164px;
  background-color: var(--accent-color);
  border-radius: 4px;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--third-text-color);
  width: 200px;
  height: 50px;
  border: none;
}

.modal-form__field__submit-btn:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.kinds-list__btn {
  background-color: var(--first-button-color);
  border-radius: 4px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border: none;
  padding: 6px 22px;
  margin-right: 8px;
  transition: color 200ms linear, background-color 200ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.kinds-list__btn:hover, .kinds-list__btn:active, .kinds-list__btn:focus {
  color: var(--third-text-color);
}

.subscribe-form__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: #fff;
  background-color: var(--accent-color);
  border: none;
  letter-spacing: 0.03em;
  width: 200px;
  height: 50px;
  margin-left: 12px;
  transition: background-color 200ms linear, color 200ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
/*# sourceMappingURL=main.css.map */