.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

  &-1 {
    width: 500px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  &-2 {
    width: 570px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  &-3 {
    width: 100%;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 50px;
  }
}
