.footer {
  background-color: var(--bg-color);
  padding-top: 60px;
  padding-bottom: 60px;

  &__full {
    @media screen and (min-width: 1200px) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      align-items: baseline;
    }
    @media screen and (min-width: 1px) and (max-width: 767px) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
    }
  }
  &-top {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      display: flex;
      align-items: baseline;
      justify-content: space-between;
      flex-direction: row;
    }
    @media screen and (min-width: 1200px) {
      width: 507px;
      display: flex;
      align-items: flex-start;
      // justify-content: space-between;
      align-items: baseline;
      flex-direction: row;
    }
  }
  &__adress {
    @media screen and (min-width: 1200px) {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-direction: column;
      margin-right: 70px;
      padding-right: 0;
    }

    @media screen and (min-width: 1px) and (max-width: 1199px) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      // margin-bottom: 60px;
    }
  }
  &__logo {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    margin-bottom: 20px;
  }
  &-social {
    @media screen and (min-width: 1200px) {
      display: flex;
      margin-bottom: 0;
    }
    @media screen and (min-width: 1px) and (max-width: 1199px) {
      display: flex;
      margin-bottom: 60px;
    }
    // display: flex;
    // margin-bottom: 60px;
  }
  &-social__item {
    width: 44px;
    height: 44px;
    margin-right: 10px;
  }

  &-social__link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--social-icon-color);
    transition: background-color 200ms linear, color 200ms linear;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      background-color: var(--accent-color);
      color: var(--third-text-color);
    }
    &:hover .footer-social__icon,
    &:focus .footer-social__icon {
      fill: var(--third-text-color);
    }
  }
  &-social__icon {
    fill: var(--third-text-color);
  }

  &-social__item:last-child {
    margin-right: 0;
  }
}

// .address {
//   margin-right: 40px;
//   padding-right: 0;
// }
.logo-span--color-light {
  color: var(--third-text-color);
}
.footer-contact-list {
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: column;
  }
  @media screen and (min-width: 1px) and (max-width: 1199px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 60px;
  }
}

.item {
  @media screen and (min-width: 1200px) {
    margin-top: 9px;

    &-1 {
      margin-top: 9px;
    }
  }
  @media screen and (min-width: 1px) and (max-width: 1199px) {
    margin-top: 8px;

    &-1 {
      margin-top: 8px;
    }
  }
}

.footer-contact-list__link {
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--third-text-color);
  margin-top: 20px;
}

.footer-contact-list__tel {
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--mail-text-color);
}
.h4 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--third-text-color);
  margin-bottom: 20px;
}
.footer__social {
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
  }
  @media screen and (min-width: 1px) and (max-width: 1199px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }
}

.footer__subscribe {
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    margin-right: 0;
    margin-left: 63px;
  }
  @media screen and (min-width: 1px) and (max-width: 1199px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }
}
.subscribe-form {
  @media screen and (min-width: 1200px) {
    display: flex;
    // margin-right: 0;
    // margin-left: 63px;
  }
  @media screen and (min-width: 1px) and (max-width: 1199px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }
}

.subscribe-form__input {
  @media screen and (min-width: 1200px) {
    width: 358px;
  }
  @media screen and (min-width: 1px) and (max-width: 1199px) {
    width: 450px;
  }
  display: flex;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 16px;

  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--bg-color);

  &::placeholder {
    position: absolute;
    top: 15px;
    left: 16px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: rgba(255, 255, 255, 0.6);
  }
  &:not(:placeholder-shown) {
    border: 1px solid var(--accent-color);
  }
}
