.header {
  @media screen and (min-width: 1200px) {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #ececec;
  }
  // width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #ececec;

  &__container {
    @media screen and (min-width: 1200px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    @media screen and (min-width: 1px) and (max-width: 767px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    @media screen and (min-width: 768px) {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }
  }
  &__navigation {
    display: flex;
  }

  &-list {
    display: flex;
    @media screen and (max-width: 767px) {
      display: none;
    }
  }

  &__connect {
    @media screen and (min-width: 1200px) {
      display: flex;
      margin-left: auto;
      align-items: center;
      justify-content: center;
      flex-direction: row;
    }
    @media screen and (max-width: 767px) {
      display: none;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      display: flex;
      margin-left: 84px;
      flex-direction: column;

      // align-items: center;
      // justify-content: center;
    }
  }
  &__contacts:nth-of-type(1) {
    margin-right: 50px;
  }

  &__logo {
    // @media screen and (max-width: 768px) {
    //   margin-right: 200px;
    // }
    @media screen and (min-width: 1200px) {
      margin-right: 93px;
    }

    @media screen and (min-width: 768px) {
      margin-right: 88px;
    }
  }

  &-list__item {
    margin-right: 50px;
    &:last-child {
      margin-right: 0;
      transition: color 200ms linear;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  &__logo {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }
  &-list__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--first-text-color);
    transition: color 200ms linear;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    &.current::after {
      content: "";
      width: 100%;
      height: 4px;
      background-color: var(--accent-color);
      border-radius: 10px;
      position: absolute;
      left: 0;
      bottom: -32px;
    }

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  &__contacts {
    display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--second-text-color);
    align-items: center;
    margin-right: 30px;
    transition: color 200ms linear;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }

    &:hover .header__social-icon,
    &:focus .header__social-icon {
      fill: var(--accent-color);
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
.logo-span--color-dark {
  color: var(--first-text-color);
}
.web {
  color: var(--accent-color);
}

.header__social-icon {
  fill: var(--second-text-color);
  margin-right: 10px;
  align-self: center;
  transition: color 200ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.open-menu-btn__icon {
  fill: black;
}
.mob-menu {
  @media screen and (min-width: 768px) {
    display: none;
  }
  position: fixed;
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  top: 0;
  z-index: 5;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;
}
.mob-menu-social__icon {
  fill: #000;
}
.mob-menu-list__item {
  margin-bottom: 32px;
  &:last-child {
    margin-bottom: 302px;
  }
}
.mob-menu-list__link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: calc(47 / 40);
  letter-spacing: 0.02em;

  color: #212121;
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.mob-menu__connect {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
