.main {
  padding-top: 94px;
  padding-bottom: 94px;
}
.kinds__photo {
  display: flex;
  justify-content: space-between;
}
.kinds__section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 50px;
}

.kinds-list {
  @media screen and (min-width: 768px) {
    display: flex;
  }
  display: flex;
  flex-wrap: wrap;
}

.kinds-list__item {
  @media screen and (min-width: 1px) and (max-width: 767px) {
    flex-basis: calc (100%/3 - 30px);
    margin-left: 8px;
    margin-bottom: 15px;
  }
}
