.main {
  padding-top: 94px;
  padding-bottom: 94px;
}
.kinds__photo {
  display: flex;
  justify-content: space-between;
}
.kinds__section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 50px;
}

.kinds-list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: nowrap;
  }
  @media screen and (min-width: 1px) and (max-width: 767px) {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
}
.kinds-list__item {
  @media screen and (min-width: 1px) and (max-width: 767px) {
    flex-basis: calc(100% / 2 - 30px);
  }
}
