.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  transition: opacity 200ms, visibility 200ms;
  &.is-hidden .modal {
    transform: scale(1.5);
  }
}

.modal {
  @media screen and (min-width: 1200px) {
    width: 528px;
    height: 581px;
  }
  width: 450px;
  height: 609px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(1) translate(-50%, -50%);
  transition: transform 200ms;
  padding: 40px;

  &__close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover,
    &:focus {
      background-color: #fff;
    }
    &:hover .modal__close-btn__icon,
    &:focus .modal__close-btn__icon {
      fill: var(--accent-color);
    }
  }
  &-form__field__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    fill: #212121;
  }

  &-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 12px;
  }
  &-form__field__input {
    width: 100%;
    height: 40px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;

    &:hover,
    &:focus {
      border: 1px solid var(--accent-color);
    }

    &:hover + .modal-form__field__icon,
    &:focus + .modal-form__field__icon {
      fill: var(--accent-color);
    }
  }
  &-form__field__text {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    padding: 12px 16px;

    &::placeholder {
      position: absolute;
      top: 15px;
      left: 16px;
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.01em;
      color: rgba(117, 117, 117, 0.5);
    }
    &:hover,
    &:focus {
      border: 1px solid var(--accent-color);
    }
  }

  &-form__field__check {
    position: absolute;
    top: 437px;
    left: 76.38px;
    margin-bottom: 30px;
    margin-top: 10px;

    &:checked + .modal-form__field__check-text::before {
      background-image: url(../images/check.svg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      border: none;
    }
  }
  &-form__field__check-text {
    @media screen and (min-width: 1200px) {
      font-size: 14px;
    }
    font-size: 12px;
    color: #757575;
    display: flex;

    &::before {
      content: "";
      width: 16px;
      height: 15px;
      border: 2px solid #212121;
      margin-right: 8.38px;
      display: block;
      border-radius: 2px;
    }
  }

  &-form__field {
    margin-bottom: 10px;
    position: relative;
  }
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-form__field__top {
  font-family: Roboto;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
  display: block;
  margin-bottom: 4px;
}

.modal-form__field__link {
  color: #2196f3;
}

textarea {
  resize: none;
  padding: 12px 16px;
}
