h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: var(--third-text-color);
  width: 696px;
  height: 120px;
  left: 452px;
}
.main-title__section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.main-title {
  background-repeat: no-repeat;
  background-size: cover;
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/bg-img-mobile-2x.jpg);
  }
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/bg-img-mobile-1x.jpg);
  padding-top: 200px;
  padding-bottom: 200px;
}
